body{
    margin: 0 0 0 0;
}
.wrapper{
    width:1600px;
    margin:auto;
}

/*Header*/
#header{
    background-image: url("../img/Portada_Oso.JPG");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 865px;
}
#title{
    position: absolute;
    color: white;
    font-size: 14rem;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    margin-left: 725px;
    top: 75px;
}
#boton{
    width: 160px;
    height: 60px;
    margin-left: 130px;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}
#boton:hover{
    background-color: white;
    color: black;
    border-radius: 0.5px;
}
#subtitle{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3.7rem;
    font-weight: bold;
    letter-spacing: 7px;
    position: absolute;
    right: 130px;
    margin-top: 530px;
}
#menu{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    margin-left: 60%;
    right: 210px;
    position: absolute;
    top:45px;
    font-size: 1.2rem;
}
#menu:hover{
    text-decoration: overline underline;
}
#circle-list{
    list-style-type: none;
    margin-left: 697px;
    margin-top: 660px;
}
.circle:hover{
    background-color: white;
}
.circle {
    width: 14px;
    height: 14px;
    background-color: black;
    border-radius: 50%;
    float: left;
    margin-right: 24px;
}

/*The Most Inclusive*/
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 85px;
    margin: 0;
}
#subtitle-2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3.9rem;
    text-align: center;
    margin: 0;
}
#text-subtitle{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: 35px;
}
#icono{
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute; 
    left: 750px;
    top:1210px;
}
.text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    line-height: 1.5;
}
#top{
    margin-top: 80px;
}
/*Jovenes*/
#jovenes{
    margin-top: 60px;
    background-image: url(../img/Jovenes.JPG);
}
#fondo{
    width: 790px;
    height: 645px;
    background-color: #ffe9e2;
    top:1430px;
    position: absolute;
    left: 10px;
}
#frase{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    margin-left: 100px;
    margin-top: 140px;
}
#name{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    margin-left: 100px;
}
#circle-list-lit{
    list-style-type: none;
    margin-top: 600px;
    margin-left: 65px;
    z-index: 1;
    position: absolute;
}
.circle2{
    width: 10px;
    height: 10px;
    border:1px solid black;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.circle2:hover{
    background-color: black;
}

/*Reasons*/
#title-reason{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    z-index: 1;
    position: absolute;
    margin-left: 95px;
    margin-top: 800px;
}
#icono2{
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute; 
    left: 95px;
    top: 2420px;
}
.reason-1 {
    border: 1px solid #eae9e7;
    float: left;
    width: 42%;
    margin-left: 10%;
    text-align: left;
    font-family: "Raleway", sans-serif; 
}
.third-content-1 h5 {
    font-size: 1.25rem; 
}
.third-content-2 {
    margin: 0 auto;
    margin-right: 5.7%;
    border: 1px solid #eae9e7;
    float: right;
    width: 42%;
    text-align: left;
    border-left: 0;
    font-family: "Raleway", sans-serif; }
.third-content-2 h5 {
    font-size: 1.25rem; 
}
.box1 {
    border-bottom: 1px solid #eae9e7;
    padding: 0px 8% 5% 4%; 
}
.box2 {
    padding: 0px 8% 5% 4%; 
}
.box3 {
    border-bottom: 1px solid #eae9e7;
    padding: 0px 8% 5% 4%; 
}
.box3 p {
    margin-bottom: 0; 
}
.box4 {
    padding: 0px 8% 5% 4%; 
}
.box4 h2 {
    margin-top: 5px; 
}
.box4 p {
    margin-bottom: 31px;
}