#title2{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 85px;
    margin: 0;
}
#subtitle-2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3.9rem;
    text-align: center;
    margin: 0;
}
#text-subtitle{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: 35px;
}
#icono{
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute; 
    left: 750px;
    top:1210px;
}
.text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    line-height: 1.5;
}
#top{
    margin-top: 80px;
}