#manos{
    background-image: url(../img/Manos.JPG);
    background-repeat: no-repeat;
    width: 1590px;
    height: 700px;
    margin-top: 500px;
    background-size: cover;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: white; 
    position: absolute;
    top:3270px;
    left: 450px;
}
#love-quotes{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: absolute;
    top:3540px;
    color: white;
    left: 650px;
}
#love-quotes a{
    color:white;
}